services:
  data_builder:
      build: .
      container_name: data-builder-1
      entrypoint: ["/bin/bash", "-lc"]
      command: >
        "DATA_DIR=/data ./app/scripts/setup_data.sh"
      env_file:
        - .env
      volumes:
        - backend_data:/data
  backend:
    build: .
    container_name: backend-1
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      DATA_DIR: /data
      META_PATH: /data/meta.pkl
      FEATURES_PATH: /data/features.npz
      # Optionally set this if you want the container to download artifacts automatically:
      # ARTIFACT_BASE_URL: https://<where-you-host-artifacts>
    volumes:
      - backend_data:/data
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: spotifyrec
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  worker:
    build: .
    command: celery -A app.worker worker --loglevel=info
    env_file:
      - .env
    depends_on:
      - db
      - redis
      - backend

volumes:
  postgres_data:
  backend_data: