fastapi
uvicorn[standard]
pandas
scikit-learn
requests
python-dotenv
pydantic
pydantic-settings
redis
rq
psycopg2-binary
SQLAlchemy>=2.0
pgvector
sqlalchemy-utils
tenacity
pytest
pytest-asyncio
httpx
celery
